<header class="header">
    <div class="block">
        <div class="header__list">
            <a class="header__logo" [routerLink]="['/shows']">
                <img class="logo" src="/assets/header/tvm-header-logo.png" alt="tvmaze logo" />
            </a>
            <!-- <form [formGroup]="searchShowForm" (ngSubmit)="onSearchShow()">
                <div class="header__filter search">
                    <input formControlName="search" class="search__input" placeholder="Filter shows by title..." type="search">
                    <button class="search__button button" type="submit">Search</button>
                </div>
            </form> -->
        </div>
    </div>
</header>