@import "./../../../styles.scss";

.cast-list {
    width: 100%;
    .cast-list__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-basis: auto;
      margin: 1rem;
    }
    .cast-list__item {
      width: 200px;
      min-height: 100%;
      margin: 1rem;
      background-color: #1f4b47;
      border: 1px solid #ccc;
      border-bottom: 3px solid #3c948b;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    }
  }