@import "./../../../styles.scss";

.show-list {
    width: 100%;
    .show-list__title {
      padding: 0.5rem;
      font-size: 2rem;
    }
    .show-list__list {
      margin: 0;
      padding: 0;
    }
    .show-list__item {
      width: 70%;
      list-style-type: none;
      position: relative;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: .5rem;
      margin: 1rem auto;
      background-color: #F8F8F8;
      box-shadow: 1px 5px 10px -5px $green;
    }
    .show-list__noshows {
      text-align: center;
      padding: .5rem;
      margin: .5rem auto;
    }
  }