@import "./../../../styles.scss";

.show-list {
    width: 100%;
    .show-list__title {
      font-size: 1.675rem;
      margin-bottom: 1rem;
    }
    .show-list__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex-basis: auto;
      margin: 1rem;
      padding: 0;
    }
    .show-list__item {
      width: 150px;
      min-height: 100%;
      margin: 0 .2rem 1rem;
      background-color: #1f4b47;
      border: 1px solid #ccc;
      border-bottom: 3px solid #3c948b;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    }
    .show-list__noshows {
      text-align: center;
      padding: .5rem;
      margin: .5rem auto;
    }
  }