.show-details {
  width: 100%;
  .show-details__name {
    text-align: left;
    margin: 1rem 2rem;
  }
  .show-details__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1rem;
  }
  .show-details__item {
    margin: 0 1rem;
    padding: 1rem;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-bottom: 3px solid #3c948b;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
    color: #0a0a0a;
  }
  .show-details__description {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex: 2;
    background-color: #fff;
  }
  .show-details__photo {
    flex: 1;
    margin: 1rem;
  }
  .show-details__summary {
    flex: 2;
    padding: 1rem;
  }
  .show-details__info {
    background-color: #f7f7f7;
    line-height: 2;
    flex: 1;
  }
  .show-details__title {
    text-align: left;
  }
  .show-details__subtitle {
    padding-right: .5rem;
  }
}
