body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #0a0a0a;
}

.block {
  width: 100%;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

.button {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.2s;
  font-weight: bold;
  outline: none;
}
