@import "./../../../styles.scss";

  .search {
    margin: .5rem;
    .search__list {
    display: flex;
    flex-wrap: wrap;
  }
    .search__input {
      min-width: 200px;
      box-sizing: border-box;
      padding: .5rem;
      margin: .5rem auto;
      border: 2px solid $green;
    }
    .search__button {
        background-color: $green;
        color: $white;
        padding: .5rem;
        margin: .5rem auto;
    }
  }