@import "./../../../styles.scss";

.search {
  width: 100%;
  margin: 0.5rem;
  .search__list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 1rem auto;
  }
  .search__input {
    min-width: 300px;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 2px solid $green;
  }
  .search__button {
    background-color: $green;
    color: $white;
    padding: 0.5rem;
  }
}
