<footer class="footer">
    <div class="block">
        <div class="footer__list">
            <a [routerLink]="['/shows']" class="footer__website">© TVmaze.com</a>
            <nav className="network__list">
                <div class="network__item">
                    <div class="network__title">Follow us:</div>
                </div>
                <div class="network__item">
                    <a href="https://www.facebook.com/tvmaze" class="fa fa-facebook" title="Visit our Facebook page!"
                        target="_blank">
                    </a>
                    <a href="https://twitter.com/tvmaze" class="fa fa-twitter" title="Visit our Twitter page!"
                        target="_blank"></a>
                    <a href="https://www.instagram.com/tvmazecom/" class="fa fa-instagram"
                        title="Visit our Instagram page!" target="_blank"></a>
                </div>
            </nav>
        </div>
    </div>
</footer>